body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 22px;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.nav-arrow {
    font-size: 2rem;
    cursor: pointer;
    padding: 20px;
    text-align: center; /* Centraliza o texto das setas */
}

.player-info {
    text-align: center;
    transition: opacity 0.5s ease;
}

.player-img {
    width: 250px; /* Tamanho médio a grande */
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.stats {
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 15px;
    padding:25px;
    text-align: center; /* Centraliza o texto das estatísticas */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
